<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Starts the MERGN SDK at process start. See MergnInitializer. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.mergn.reactnative.MergnInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
